<!doctype html>
<html>
    <head>
        <title>MusiMap Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/homeScreen.css" rel="stylesheet">

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <!-- Navbar - Will keep for future styling... -->
        <nav class="navbar">
            <!-- Container for Dropdown and Search bar -->
            <div class="container">
			<a href="../" class="logout"> log out </a>
                <div><h1 style="color:#a80a0a" ><a href="../index"</a><img src="../img/icon.png" class="icon" >
						<a style="color:#a80a0a" onclick="myFunction()" class="dropbtn" >
							<i class="fa fa-question dropbtn"></i>
						</a> > Home</h1></div>
                    <div class="dropdown">
                        <div id="myDropdown" class="dropdown-content">
                            <h3>Help Topics</h3>
                            <hr>
                            <div>
                                <h4>Map Instructions:</h4>
                                <p>Zoom in and out on the map by scrolling.</p>
                                <p>Click and drag whitespace to move the entire map.</p>
                                <p>Nodes can be moved as well.</p>
                                <p>Click on a node to go to the artist's page.</p>
                                <p>Red artists are in your library, black artists are not.</p>
                                <p>Refresh the page to reset and randomize the map layout.</p>
                                <p>Edges between the nodes are based on genre/subgenre similarity.</p>
                            </div>
                            <hr>
                            <h4>Exploring Music</h4>
                            <div>
                                <p>To explore music, you can either search for an artist in the search bar, 
                                    or while on an artist's page you can press "More like this", where you will 
                                    be redirected to a list of other artists similar the previous artist.</p>
                            </div>
                            <hr>
                            <h4>Adding Artists</h4>
                            <div>
                                <p>Once you click on an on the Map, you will be taken to that artist's page, 
                                    where you can press "Add to my library". The next time you access your 
                                    library, that artist will show up in there.</p>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="tabs-menu">
                        <a class="tab-link" href="../add">
                            <div class="text-block headerbtn">Library</div></a>
						<a class="tab-link" >
							<div class="text-block headerbtn"> 
							<!-- Searchbar inline block with dropdown menu -->
								<form action="results"  id="search">
									<input id="searchbar" type="text" name="searchName" placeholder="Search..." required >
									<button type="submit" id="search-button" class="button pull-right"><i class="fa fa-search"></i></button>
								</form>
							</div>
						</a>
                </div>
            </div>
        </nav>
        <div class="textbody">
			<div id="welcome" class="getstart">
				<div class="xbutton">
					<h4>Welcome to Musimap!
					
				</div>
				<div> </div>
				<div class="textbox">
				
					<p>This is a web app for exploring and cataloging music artists.</p>
					<p>Use the map or search for artists to add to your music collection.</p>
					<p>Press the '?' button for more information.</p>
					<a onclick="gettingstarted()" class="pull-right">x</a></h4>
				</div>
			</div>
        </div>
        <div >
            <iframe src="map" class="frame" ></iframe>
        </div>

        
        <script src="js/jquery-1.11.0.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
        </script>
    
	<script>
function gettingstarted() {
    var x = document.getElementById("welcome");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
        </script>
    </body>
</html>
