<!doctype html>

<html>

    <head>
        <title>MusiMap</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet" />
        <link href="css/bootstrap-theme.css" rel="stylesheet" />
        <link href="./css/login.css" rel="stylesheet" type="text/css"/>
		<link href="./css/homeScreen.css" rel="stylesheet">

    </head>

    <body>
        <div class="loginscreen">
			
			<img src="../img/icon.png" width=80% class="icon" >

			<div class="desc">Username</div>
			<div class="inputs">
				<input type="text" placeholder="Default">
			</div>
			<div class="desc">Password</div>
			<div class="inputs">
				<input type="text" placeholder="*******">
			</div>
            <div>
			<a href="index">
               <div><h1 style="color:#a80a0a" class="headerbtn">Login</h1></div>
			</a>
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
        </div>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        {{> facebook}}
        <script src="/js/facebook.js"></script>
    </body>
</html>
