
/*.home-screen {
width: 100%;
min-width: 1440px;
height: 100%;
min-height: 1024px;
position: relative;
overflow: hidden;
margin: 0px;
}
 */

/* Dropdown Button */
.question {

    color: black;
    padding: 0px 4px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    position: fixed;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    max-height: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Searchbar Animation for fun */
input[type=text] {
    width: 25vw;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 35vw;
}

.textbody {
    margin: 10px;
    text-align: center;
}
.textbody h4 {
    text-align: center;
    display: block;
}

.show {display:block;}

.group {
    position: relative;
    float: left;
    padding: 10px;
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.group img {
    height: 100%;
    width: 100%;
    position: relative;
}

.image {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #888888;
}

.group:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .group {
        width: 50%;
    }
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-link {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #f1f1f1;
  padding: 14px 16px;
  font-size: 15px;
  color: black;
}

.tab-link:hover {
  background-color: rgb(25, 105, 226);
  color: white;
  transition: 0.3s;
}

.tab-link.active {
  background-color: rgb(25, 105, 226);
}
.text-block {
  text-align: center;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    width: 30%;
}

.center{
    margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.genre{
    margin-left: 15%;
    margin-right:auto;

}
.description{
    margin-left:15%;
    margin-right: 15%;
}

.bio{
	line-height: auto;
}

h4, p {
  display: inline;
}

.artists{
	margin-left:15%;
    margin-right: 15%;
}