
/*.home-screen {
width: 100%;
min-width: 1440px;
height: 100%;
min-height: 1024px;
position: relative;
overflow: hidden;
margin: 0px;
}
 */

/* Dropdown Button */
.question {

    color: black;
    padding: 0px 4px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    position: fixed;
}

.dropdown {
    position: relative;
    display: block;
    float:center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    overflow-y: auto;
	top: -60px;
	right:-4px;
	padding: 15px;
	padding-bottom: 15px;
	border:none;
	border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Searchbar Animation for fun */
input #searchbar{
    width: vw;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	position: absolute;
	right: 20px;
	top: 13px;
	border: none;
	border-radius: 5px;
	text-align: center;
}

input #searchbar:focus {
    width: vw;
	position: absolute;
	right: 20px;
	top: 13px;
	border: none;
	border-radius: 5px;
	text-align: center;
}

.textbody {
    margin: 10px;
    text-align: center;
}
.textbody h4 {
    text-align: center;
    display: block;
}

.show {display:block;}

.group {
    position: relative;
    float: left;
    padding: 10px;
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.group img {
    height: 100%;
    width: 100%;
    position: relative;
}

.image {
    display: block;
	border-radius: 50%;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #888888;
}

.group:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    .group {
        width: 50%;
    }
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tabs-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -ms-flex-pack: center;
  justify-content: left;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-link {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #a80a0a;
  padding: 14px 16px;
  font-size: 15px;
  color: white;
}

.tab-link-active {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    background-color: #F5A523;
    padding: 14px 16px;
    font-size: 15px;
    color: white;
  }

.tab-link:hover {
  background-color: #F5A523;
  color: white;
  transition: 0.15s;
}

.tab-link.active {
  background-color: #F5A523;
}
.text-block {
  text-align: center;
}

.img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
    width: 30%;
	border-radius: 50%;
	box-shadow: 2px 2px 6px #999999;
}

.center{
    margin-left: auto;
    margin-right: auto;
	text-align:center;
	text-shadow: 2px 2px 7px #999999;
}

.genre{
    margin-left: 15%;
    margin-right:auto;

}
.description{
    margin-left:15%;
    margin-right: 15%;
}

.bio{
	line-height: auto;
}

.titles, p {
  display: inline;
}

.artists{
	margin-left:15%;
    margin-right: 15%;
}
.xbutton{
  display: inline-block;
  margin: 0;
}
.getstart .textbox{
	text-align: left;
}
.getstart{
	padding: 10px;
	background-color: rgba(245, 165, 35, 0.8);
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	
}

.headerbtn{
	font-weight: bold;
	text-shadow: 2px 2px 7px #666666;
}
.container{
	text-shadow: 2px 2px 7px #666666;
}

.container .text{
	text-shadow: 3px 3px 4px #000000;
}

.icon{
	 display: inline; 
	 margin: 0;
	 padding-right: 10px;
	 width: 100px;
}

h1{
	font-weight: bold;
}

form {
	display: inline;
}
.container .dropdown-content{
	text-shadow: 0 1px 4px #bbbbbb;
}

.container .dropdown-content p{
	text-shadow: 0 0 0 #ffffff;
}

.frame{
	border: inset;
	border-radius: 10px;
	color: #a80a0a;
	border-width: 5px;
	margin:10px; 
	height:73%; 
	width:95%;
	position: absolute;
	top: 160px;
	bottom: 10px;
	z-index: -1;
	
}

.button{

	border: none;
	height:23px;
	width:23px;
	position: absolute;
	z-index: 1;
	right: 20px;
	top: 15px;
	background: transparent;
	border-radius:5px;
	
}
.fa-question{
	position: absolute;
	top:7px;
	right:8px;
	border:solid;
	width:23px;
	height:23px;
	padding-left:5px;
	padding-top:2px;
	border-width:1px;
	border-radius:50%;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0);
	
}
.dropbtn{
	font-size:medium;
}
.logout{
	position: absolute;
	top:75px;
	right:5px;
	background: #F5A523;
	padding:5px 7px;
	border-radius:4px;
	font-weight:bold;
	color: white;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

